:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
}

html,
body,
#root {
    height: 100%;
}
body {
    margin: 0;
}

.ant-tabs-tab-btn,
.ant-tabs-tab-icon {
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

:where(.css-dev-only-do-not-override-2ah9vl).ant-form-item
    .ant-form-item-label {
    width: 100% !important;
    overflow: visible;
}
